/* Canvas Manipulators */
.body {
    font-family: "Lato", sans-serif;
    background-color: #0d1117;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

header {
    user-select: none;
}

/* Typhography */
.brand-title {
    font-family: "Rowdies", sans-serif;
}

/* Dropdown */
.dropdown-heading {
    font-weight: bold !important;
    font-size: smaller !important;
    text-transform: uppercase !important;
    pointer-events: none !important;
}

.dropdown-divider {
    margin: 1rem 0;
}

.brand-logo {
    cursor: pointer;
}
